html {
    width: 100wh;
    height: 100vh;
    padding: 0;

}

.subHeading {
    font-size: 1.2em;
    border: 1px solid black;
    background-color: gray;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


#wrapper {
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
}

#overlayWindow {
    position: absolute;
    margin: auto;
    width: 80%;
    left: 10%;
    top: 10vh;
    height: 80vh;
    border: 1px solid black;
    background-color: white;
    box-shadow: 8px 5px 5px darkslategray;
    padding: 10px;
    z-index: 10;

}

#overlayWindowCloseButton {
    position: absolute;
    z-index: 11;
    left: 100% - 2em;
    right: 0%;
    top: 0%;
    bottom: 95% - 2em;
    outline: 1px solid darkslategray;
}

#chatUsers {
    padding: 1em;
}

.mainWindow {
    position: absolute;
    height: 100%;
}


.overlayNewVoteDiv {
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.overlayNewVoteColumn {
    float: left;
    width: 50%;
    height: 100%; 
}


.chatScreen {
    position: absolute;
    align-items: stretch;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.chatScreenColumn {
    float: left;
    width: 50%;
}

.chatUsersColumn {
    float: left;
    width: 16.66%;
    background-color: lightgray;
}

.voteColumn {
    float: left;
    width: 33.33%;
    background-color: lightgray;
}

.sendMessageDiv {
    position: absolute;
    bottom: 0;
    left: 16.66%;
    width: 50%;
    height: 2em;
    padding: 1em;
    background-color: lightgray;
}


.stretchToBottom {
    height: 100%;
}

.chatScreenRow {
    position:absolute;
    height:100%;
}

.chatScreenRow:after {
    content: "";
    display: table;
    clear: both;
}


.msgStandard {
    background-color: lightgray;
}

.msgMod {
    background-color: lightcoral;
}

.msgSys {
    background-color: lightskyblue;
}

.msgDecProc {
    background-color: lightgreen;
}


.voteTitle {
    background-color: lightgray;
    font-size: 1.2em;
}

.voteDesc {
    background-color: lightgray;
    font-size: 1em;
}

.voteMode {
    background-color:lightgray;
    font-size: 0.8em;
}

.voteItem {
    outline: 1px dashed gray;
    font-size: 0.9em;
}

.voteItemEven {
    background-color: lightseagreen;
}

.voteItemUneven {
    background-color: lightskyblue;
}

.voteItemSelected {
    background-color: lightgreen;
}

.voteItemAccepted {
    background-color: green;
}

.voteItemRejected {
    background-color: lightcoral;
}



#overlayVoteResultDiv {
    padding: 1em;
}


#overlayResultWrapper {
    position: relative;
    margin-top: 1em;
}

.voteResultItemWrapper {
    position: absolute;
    left: 0%;
    right: 0%;
    height: 1.5em;
    outline: 1px solid black;
}
.voteResultItem {
    position: absolute;
    right: 75%;
    left: 0%;
    top: 0%;
    bottom: 0%;
    vertical-align: middle;
    outline: 1px solid black;
    background-color: lightslategray;
}

.voteResultItemBar {
    position: absolute;
    left: 25%;
    right: 75%;
    left: 0%;
    top: 0%;
    bottom: 0%;
    vertical-align: middle;
    
    outline: 1px solid black;
    background-color: rgb(25, 152, 156);
}

.voteWinningItem {
    background-color: lightgreen
}